keybinds {
    normal {
        unbind "Ctrl o" // unbind defalut switching to move session
        unbind "Ctrl h" // unbind defalut switching to move mode
    }
    search {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
    }
    shared {
        // these keybindings will be present in all modes
        bind "Alt s" { SwitchToMode "scroll"; }
        bind "Ctrl s" { SwitchToMode "session"; }
    }
    shared_except "session"{
        // these keybindings will be present in all modes except "resize" and "locked"
        unbind "Ctrl q"
    }
}

pane_frames false
theme "catppuccin-mocha"
copy_command "xclip -i -selection clipboard"
// theme "gruvbox-dark"
